<html ng-app="www">
	<head>
		<link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<header>
			 <nav>
			 	<div class="container">
			    <div class="nav-wrapper">
			      <a href="#" class="brand-logo">Shopalyst</a>
			    </div>
			  </div>
		  </nav>
		</header>
		<div class="" ng-controller="appCtrl">
			<div class="row">
				<div ng-repeat="response in responses.productList" class="col s3 productContainer">
					<img src={{response.imageUrl}} class="image" />
					{{response.title}}
				</div>
			</div>
		</div>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/materialize/dist/js/materialize.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="app.js"></script>
	</body>
</html>